<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of data">
      <td>
        {{ i.id }}
      </td>
      <td>
        <button class="btn btn-info btn-md" (click)="open(i.id)">
          Open
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination [(page)]="page" [collectionSize]="size" [pageSize]="12" [ellipses]="false" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadInvoices(); getCollectionSize()" [maxSize]="7">
</ngb-pagination>