<table class="table table-striped">
  <thead>
    <td> <b>Id</b> </td>
    <td> <b>Phone Model</b> </td>
    <td> <b>Parts</b> </td>
    <td> <b>Client</b> </td>
    <td> <b>Status</b> </td>
    <td> <b>Action</b> </td>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of tickets">
      <td> {{ ticket.id }} </td>
      <td> {{ ticket.phone }} </td>
      <td> 
        <span *ngFor="let part of ticket.parts.split(',')" class="badge badge-info">
          {{ part }}
        </span>
      </td>
      <td> {{ ticket.client }}</td>
      <td> {{ ticket.status }}</td>
      <td> <button class="btn btn-info btn-sm" (click)="showDetail(ticket.id)"> Open </button> </td>
    </tr>
  </tbody>
</table>
<ngb-pagination [(page)]="page" [collectionSize]="count" [pageSize]="12" [ellipses]="false" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadTicketsByUser()" [maxSize]="7">
</ngb-pagination>