<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h6>New User Detail</h6>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
        <div>
          <b>Name:</b>
      <small *ngIf="detail">
        {{ detail.name }}
      </small>
        </div>
        <div>
          <b>Email:</b>
      <small *ngIf="detail">
        {{ detail.email }}
      </small>
        </div>
        <div>
          <b>Phone:</b>
      <small *ngIf="detail">
        {{ detail.phone }}
      </small>
        </div>
        <div>
          <b>Id:</b>
      <small *ngIf="detail">
        {{ detail.id }}
      </small>
        </div>
        <div>
          <b>Date Joined:</b>
      <small *ngIf="detail">
        {{ detail.dateJoined }}
      </small>
        </div>
        <div>
          <b>Token:</b>
      <small *ngIf="detail">
        {{ detail.token }}
      </small>
        </div>
    </div>
    <button class="btn btn-warning btn-sm" (click)="clear()">
      Clear
    </button>
  </div>
</div>